/*************************************************************************
 * This css file is for your own style.
 *************************************************************************/
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }